@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background: #0d3b66;
  background: -webkit-linear-gradient(right, #0d6ebc, #0c57a3, #0d3b66);
  background: linear-gradient(to right, #0d6ebc, #0c57a3, #0d3b66);
}

.card {
  background-color: #fff;
  padding: 1.5rem 1.75rem;
  cursor: pointer;
  max-width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (min-width: 480px) {
  .card {
    max-width: 480px;
    padding: 2rem 2.5rem;
  }
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: black;
  margin-bottom: 2rem;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between; /* 子要素を横方向に均等に配置 */
  align-items: flex-start; /* 子要素を上部に揃える */
}

.button {
  display: block;
  width: 100%; /* ボタンの幅を100%に */
  padding: 0.5rem 1rem;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form-container {
  display: flex;
  align-items: center;
  gap: 10px; /* 各要素の間隔を調整 */
}

/* スマホ向けの調整 */
@media (max-width: 640px) {
  .container {
    flex-direction: column; /* 縦方向に並べる */
    padding: 1rem;
  }

  .left-container,
  .right-container {
    width: 100%; /* 幅を100%に */
    margin-right: 0; /* マージンをリセット */
  }

  .todoItem {
    flex-direction: column; /* タスクを縦方向に並べる */
    align-items: flex-start; /* 左揃えにする */
  }

  .button {
    width: auto; /* ボタンの幅を自動調整 */
  }
}

/* タブレット向けの調整 */
@media (min-width: 641px) and (max-width: 1024px) {
  .container {
    flex-direction: row; /* 横方向に並べる */
    padding: 1.5rem;
  }
  .todoItem {
    flex-direction: row; /* タスクを横方向に並べる */
    align-items: center; /* 中央揃えにする */
  }
}
